 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

 
*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    position: fixed;
    background-repeat: no-repeat;
}

.text_section{
    color: white;
    width: 400px;
    height: 250px;
    /* background-color: blue; */
    font-family: 'Open Sans';
}

.p_huddle{
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 13px;
}

.in_text_section{
    padding: 35px;
}

button {
    background-color: white;
    border: none;
    width:150px;
    height: 36px;
    color: hsl(257, 40%, 49%);
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0.8px hsl(253, 15%, 31%);
}

button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

img{
    width: 50%;
}

.row{
    display: flex;
    gap: 2rem;
    padding-top: 40px;
}

.container{
    margin: 20px;
    padding-left: 20px;
}

.logo_row{
    display: flex;
    gap: 1rem;
}

.fa {
    text-decoration: none;
    color: white;
    
  }
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid white;
  }

  .fa:hover {
    color: hsl(300, 69%, 71%);
    opacity: 0.7;
  }
  .icon_row{
    display: flex;
    gap: 1rem;
    justify-content: right;
  }



  @media screen  and (max-width: 414px){

    body{
        background-color: hsl(257, 40%, 49%);
        background-image: url(./images/bg-mobile.svg);
        position: fixed;
        background-repeat: no-repeat;
    }

    .row{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding-top: 10px;
    }
    .container{
        margin: 10px;
        padding-left: 10px;
    }
    
    .in_text_section{
        /* padding: 10px; */
        text-align: center;
    }

    .text_section{
        color: white;
        width: 350px;
        height: 250px;
        /* background-color: blue; */
        font-family: 'Open Sans';
    }

    .icon_row{
        padding-top: 40px;
        justify-content: center;
      }

      img{
        width: 80%;
    }
  }